@page
@model Torneo.App.Frontend.Pages.Posiciones.DetailsModel
@{
}
<h1 class="titulo_tabla">Detalle del posicion</h1>
<div class="container_tabla_details">
    <table class="tabla">
        <tr class="tr_thead">
            <th scope="col">Id</th>
            <td>@Model.posicion.Id</td>
        </tr>
        <tr>
            <th class="tabla_details_th" scope="col">Nombre</th>
            <td class="tabla_details_td">@Model.posicion.Nombre</td>
        </tr>
    </table>
    <a class="btn_volver" asp-page="./Index"><i class="fa-solid fa-chevron-left"></i></a> 
</div>