@page
@model Torneo.App.Frontend.Pages.Posiciones.EditModel
@{
}
<div class="position_form">
    <h1 class="titulo_form">Editar Posiciones</h1>
    <div class="container_form">
        <form class="flex_outer" method="post">
            <div class="form_group">
                <label asp-for="posicion.Id"></label>
                <input class="form_control_edit" asp-for="posicion.Id"  readonly>
            </div>
            <div class="form-group">
                <label asp-for="posicion.Nombre"></label>
                <input class="form_control_edit" asp-for="posicion.Nombre" >
            </div>
            <button type="submit" class="btn_form_edit">Editar municipio</button>
        </form>
        <a class="btn-volver" asp-page="./Index">Volver</a>
    </div>
</div>