@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}

<h1 class="titulo_pages">Posicion</h1>
<h2 class="titulo_tabla">Listado de Posiciones</h2>

<a class="btn_add"><i class="fa-regular fa-square-plus"></i></a>
<div class="container_tabla">
    <table class="tabla">
        <thead class="thead_container">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="tbody_container">
            @foreach (var posicion in Model.posiciones)
            {
                <tr>
                    <th scope="row">@posicion.Id</th>
                    <td>@posicion.Nombre</td>
                    <td>
                         <a class="btn_details" asp-page="./Details" asp-route-id="@posicion.Id"><i class="fa-solid fa-info"></i></a>
                        <a class="btn_delate" ><i class="fa-solid fa-trash-can"></i></a>
                        <a class="btn_edit"><i class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
