@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="txt_bienvenido">Bienvenido</h1>
    <p class="txt_descripcion">Administre su Torneo de forma facil y rapida, sin complicaciones</p>
    <img class="junior_soccer" src="~/images/junior_soccer.svg" alt="">
    <p class="txt_net">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
